body{
    background-color: black;
}
p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.title{
    font-size: 40px;
}
.choice{
  height: 150px;
  width: 150px;
  border-radius: 75px;
  margin: 5px;
  background-color: black;
  border-width: 5px;
  border-style: solid;
  border-color: white;
  
}
 .resetbutton,.autoPlay{
   height: 38px;
   width: 110px;
   font-size: 16px;
 }

.images{
    height: 50px;
}
.confirmation_button_no,.confirmation_button_yes{
  height: 38px;
  width: 50px;
  font-size: 16px;
}